body {
    background-image: url("https://www.xmple.com/wallpaper/white-grey-gradient-linear-1920x1080-c2-ffffff-808080-a-300-f-14.svg");
    margin: auto auto auto auto;
    object-fit: cover;
    background-size: 100% 45%;
    z-index: 2;
  }

.home button {
  color:rgb(89, 14, 226);
  background:none;
  height:100px;
  width:100px;
}
.dropdown form{
  text-align: center;
  margin-left:75%;
  display:inline-block;
}
.dropdown label{
    width:10px;
    margin-left:90px;
    color:rgb(0, 0, 0);
    font-size:24px;
}
.dropdown select{
  width:50%;
  margin-left:80px;
  color:rgb(0, 0, 0);
  background-image: url('https://media.istockphoto.com/vectors/abstract-blurred-turquoise-background-and-gradient-texture-for-your-vector-id1295775326?b=1&k=6&m=1295775326&s=612x612&w=0&h=Yq5JW5Ee3WOgdO6UlRwhowB0x5pmMV3QhiQRWtiMBhM=');
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  color:rgb(0, 0, 0);
}
.sub select{
  width:50%;
  margin-left:80px;
  color:rgb(0, 0, 0);
  background-image: url('https://media.istockphoto.com/vectors/abstract-blurred-turquoise-background-and-gradient-texture-for-your-vector-id1295775326?b=1&k=6&m=1295775326&s=612x612&w=0&h=Yq5JW5Ee3WOgdO6UlRwhowB0x5pmMV3QhiQRWtiMBhM=');
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  color:rgb(0, 0, 0);
}

.sub label{
  width:10px;
  margin-left:90px;
  color:rgb(0, 0, 0);
  font-size:24px;
}
.prce select{
  width:50%;
  margin-left:80px;
  color:rgb(0, 0, 0);
  background-image: url('https://media.istockphoto.com/vectors/abstract-blurred-turquoise-background-and-gradient-texture-for-your-vector-id1295775326?b=1&k=6&m=1295775326&s=612x612&w=0&h=Yq5JW5Ee3WOgdO6UlRwhowB0x5pmMV3QhiQRWtiMBhM=');
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  color:rgb(0, 0, 0);
}
.prce form{
  text-align: center;
  margin-left:75%;
  display:inline-block;
}
.prce label{
  width:10px;
  margin-left:90px;
  color:rgb(0, 0, 0);
  font-size:24px;
}

.checkers {
  -webkit-appearance: none;
  appearance: none;
  background-color: #33cbdf;
	border: 1px solid #cacece;
	box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05);
	border-radius: 3px;
  padding: 9px;

}
.checkers:active, .checkers:checked:active {
	box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px 1px 3px rgba(0,0,0,0.1);
  content: '\2714';
}
.checkers:checked {
	background-color: #e9ecee;
	border: 1px solid #adb8c0;
	box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05), inset 15px 10px -12px rgba(255,255,255,0.1);
	color: #99a1a7;
}
.checkers:checked:after {
	font-size: 14px;
	color: #99a1a7;

}
.checks input{
  margin-left:15%;
}
.checks input:hover {
  cursor:pointer;
}
.checks label {
  display:inline-block;
  position: relative;
  left:77%;
}

.radio{
  position: relative;
  margin-top:20px;
  display: inline-block;
  margin-left:80%;
}
.radio input:hover {
  cursor:pointer;
}
.topstuff h1 {
  background-image: url('https://media.istockphoto.com/vectors/abstract-blurred-turquoise-background-and-gradient-texture-for-your-vector-id1295775326?b=1&k=6&m=1295775326&s=612x612&w=0&h=Yq5JW5Ee3WOgdO6UlRwhowB0x5pmMV3QhiQRWtiMBhM=');
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
}

.search {
  margin-left:85%;
  margin-top:15px;
  position:sticky;
}
.search button {
  position: sticky;
}
.slidecontainer {
  width: 100%; /* Width of the outside container */
  float:right;
  text-align:right;
}

/* The slider itself */
.slider {
  -webkit-appearance: none;  /* Override default CSS styles */
  appearance: none;
  width: 50%; /* Full-width */
  height: 10px; /* Specified height */
  border-radius: 5px;
  background: grey;
  outline: none; /* Remove outline */
  opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
  -webkit-transition: .2s; /* 0.2 seconds transition on hover */
  transition: opacity .2s;
  float:right;
  text-align: right;
}

/* Mouse-over effects */
.slider:hover {
  opacity: 1; /* Fully shown on mouse-over */
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
.slider::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  width: 25px; /* Set a specific slider handle width */
  height: 25px; /* Slider handle height */
  border-radius: 50%;
  cursor: pointer; /* Cursor on hover */
  /*background:url('/images/cashmoneymoney.png');*/
  background-image: url('https://image.freepik.com/free-vector/green-tones-gradient-background_23-2148380476.jpg'); /* Grey background */
  background-repeat: no-repeat;
  background-size: cover;
}

.slider::-moz-range-thumb {
  width: 25px; /* Set a specific slider handle width */
  height: 25px; /* Slider handle height */
  border-radius: 50%;
  /*background:url('/images/cashmoneymoney.png');  Green background */
    background-image: url('https://image.freepik.com/free-vector/green-tones-gradient-background_23-2148380476.jpg'); /* Grey background */
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer; /* Cursor on hover */
}

table, tr {
  border: 2px solid black;
  width: 80%;
  height: 100px;
  margin-left:100px;
  background-color:white;
  font-size: 24px;
  
}
td {
  margin: 0px 50px 0px 50px;
  border: 2px dotted black;

}
th {
  border: 2px dotted black;
  margin: 50px 20px 50px 20px;
  background-color:white;
}


.search button {
  background-image: url('https://image.freepik.com/free-vector/green-tones-gradient-background_23-2148380476.jpg');
}

span {
  content: "\2213";
}

.proplisting {
  background-image: url('/images/backround.png');
  background-attachment: fixed;
  background-size: 100% 100%;
  object-fit: cover;
  z-index: 1;

}

.index {
  position: sticky;
  top:20px;
  background-color: rgba(47, 79, 79, 0.6); 
  width:750px;
}