
h1 {
    text-align: center;
    color:rgb(255, 51, 51);
    margin: 0, auto, auto, auto;
}
img {
    object-fit:fill;
}

body {
    background: url("/images/background.png");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    object-fit: cover;
}
label {
    color:rgb(255, 51, 51);
    display: inline-block;
    margin: 0 0 0 20%;


}

input {
    text-align: center;
    display: inline-block;
    margin: 5% 0 0 0%;


}



.usr {
    margin: 1% 0 0 43%;
    display: inline-block;
}

.psw {
    margin: 1% 0 0 43%;
    display: inline-block;
}

.home button {
    background:none;
    position:absolute;
    top:10px;
    border:none;
    cursor:pointer;
}
.home button:hover {
    background-color:rgb(122, 128, 122);
}
.signin input{
    background-color:rgb(255, 51, 51);
    color: white;
    padding: 14px 20px;
    border: none;
    cursor: pointer;
    width: 10%;
    margin: 10% 0 0 45%;
}

.signin input:hover{
    background-color: green;
    transition-duration: 0.4s;
}