h1 {
    text-align: center;
    background-image: url('https://thumbs.dreamstime.com/b/hex-synergy-digital-green-background-image-palette-transparency-flat-fills-landscape-39681827.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    color:rgb(0, 0, 0);
    width: 100%;
}
body {
    background-color: rgb(209, 197, 197);
    
}

.home {
    text-align:center;
    border:none;
    background:none;
    object-fit: fill;
}
.home button {
    border:none;
    background:none;
}

img {
    object-fit: fill;
}

.accept button{
    background-color:green;
    float:center;
    margin-left: 25%;
    margin-top:5%;
    width:50%;
}

.decline button {
    background-color:red;
    float:center;
    margin-left: 25%;
    margin-top:10%;
    width:50%;
}
.newstuff {
    text-align:center;
}

.newstuff input {
    margin-top: 10px;
}

.newstuff select {
    margin-top: 10px;
}
