h1 {
    text-align: center;
    background-image: url('/images/banner.png');
    background-repeat: no-repeat;
    background-size: cover;
    color:rgb(0, 0, 0);
    width: 100%;
}
body {
    background-image: url('https://wallpaperaccess.com/full/4291005.jpg');
    color:white;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    object-fit: cover;
}

.home {
    text-align:center;
    border:none;
    background:none;
    object-fit: fill;
}
.home button {
    border:none;
    background:none;
}

img {
    object-fit: fill;
}

.accept input{
    background-color:green;
    float:center;
    margin-left: 42%;
    margin-top:5%;
    width:10%;
    height: 10%;
    font-size: 35px;
}
.decline button {
    background-color:red;
    float:center;
    margin-left: 42%;
    margin-top:5%;
    width:10%;
    height: 10%;
    font-size: 35px;
}
.newstuff {
    text-align:center;
}

.backboy input{
    margin-left: 42%;
}
.newstuff input {
    margin-top: 10px;
}

.newstuff select {
    margin-top: 10px;
}

.choose select{
    margin-left:45%;
}