
body {
    background-image:url("https://media.istockphoto.com/vectors/house-flat-icon-vector-illustration-vector-id1072185464?k=6&m=1072185464&s=612x612&w=0&h=U3XGuy-yXay_2kAr0pWot9Bs0nQv3P49KO6qJB6sG-Y=");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
  
  }
  

  .button5 button {
    text-decoration: none;
    color:rgb(0, 0, 0);
    background-color:transparent;
    text-shadow:-1px 1px 1px rgb(97, 122, 177);
    border: 2px solid black;
    transition-duration: 0.3s;
    cursor: pointer;
    text-align: center;
    margin-top:5px;
    height: 40px;
    width:300px;
    font-size:25px;
    
  }
  .button5 button:hover {
    transition-duration:0.4s;
    background-color:rgb(107, 107, 126);
    transform: translate(0, 5px);
    text-shadow:-1px 1px 1px rgb(252, 251, 251);

  }
  
  .center button {
    background-color: rgba(99, 104, 99, 0.7); /* Green background */
    color: rgb(189, 171, 171); /* White text */
    padding: 10px 24px; /* Some padding */
    cursor: pointer; /* Pointer/hand icon */
    float: left; /* Float the buttons side by side */
    width: 25%;
    display: inline-block;
    padding: px;
    height: 55px;
    font-size: 30px;
    border:none;
  }
  .center:after {
    content: "";
    clear: both;
    display: table;
  }
  .center2 button:not(:last-child) {
    border-right: none;
  }

  .center2 button:hover {
    background-color:rgb(77, 75, 75);
    border:4px solid black;
    transition-duration: 0.4s;
    opacity: 0.95;
    color: white;
    transform: translate(1px, 3px)
  }
  
  .center1 button:hover {
    background-color:rgb(77, 75, 75);
    border:4px solid black;
    transition-duration: 0.4s;
    opacity: 0.95;
    color: white;
    transform: translate(-1px, 3px)
  }
  
h2 {
  margin-top:0px;
  text-align:right;
}
 
