
body {
    background:url("/images/theone.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: 100% 88.5%;
    background-position: bottom;
    position: relative;
  }
  .button5{
    margin-top: 10px;
  }
  
  .button5 button {
    text-decoration: none;
    color:rgb(0, 0, 0);
    background-color:transparent;
    border: 2px solid rgb(0, 0, 0);
    transition-duration: 0.3s;
    cursor: pointer;
    text-align: center;
    margin-top:5px;
    height: 40px;
    width:300px;
    font-size:25px;
    text-shadow:-0.5px 0.5px 0.5px rgb(131, 129, 129);
  }
  .button5 button:hover {
    transition-duration:0.4s;
    background-color:rgba(97, 182, 64, 0.6);
    transform: translate(0, 5px);
    color: rgb(0, 0, 0);
    border: 2px solid rgb(0, 0, 0);
    text-shadow:-0.5px 0.5px 0.5px rgb(231, 224, 224);

  }
  
  .center button {
    color: rgb(0, 0, 0); /* White text */
    padding: 12px 30px; /* Some padding */
    cursor: pointer; /* Pointer/hand icon */
    float: left; /* Float the buttons side by side */
    width: 25%;
    display: inline-block;
    height: 55px;
    font-size: 30px;
    border:none;
    background-color: rgb(196, 196, 196);
    position: sticky;
  }
  .center:after {
    content: "";
    clear: both;
    display: table;
  }
  .center2 button:not(:last-child) {
    border-right: none;
  }

  .center2 button:hover {
    border:1px solid black;
    opacity: 0.95;
    color: white;
  }
  
  .center1 button:hover {
    border:1px solid black;
    opacity: 0.95;
    color: white;

  }
  
h2 {
  margin-top:0px;
  text-align:right;
}
 
